@import "../variables.scss";

.product {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
}

.product_hidden {
  display: none;
}

@media (orientation: portrait) {
  .product {
    flex-flow: column nowrap;
  }
}
