@import "../variables.scss";

.slide-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
}

@media (orientation: portrait) {
  .slide-1 {
    height: 50vh;
    width: 100vw;
  }
}
