@import "../../variables.scss";

.navbar__button {
  margin: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: $white;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2);
    color: $white;
  }
}
