@import "../variables.scss";

.menu {
  position: fixed;
  transform: translateX(-$menu-width);
  z-index: $z-top;
  margin-top: 70px;
  background-color: $menu-background;
  width: $menu-width;
  height: 100vh;
  font-size: 1rem;
  transition: 1s;
}

@media (orientation: portrait) {
  .menu {
    transform: translateX(-100vw);
    width: 100vw;
    font-size: 2rem;
  }
}

@media (max-height: 400px) {
  .menu {
    margin-top: 40px;
  }
}
