.product-selector__button {
  display: inline-block;
  margin: 0 20px;
  background-image: url("~/assets/images/bierdeckel.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.5);
  }
}
